<div style="width:100%" class="workout">
  <hr style="color: orange;
  opacity: 1;
  width: 4%;
  text-align: center;
  margin-left: 48%;
  border: 2px solid orange;">
<p style="text-align: center;
font-size: 18px;font-weight: bold; font-size: 1.75rem;margin-top: 2%;">OUR WORK OUT GALLERY</p>
<p style="text-align: center; font-size: 1.15rem;">Usu habeo equidem sanctus no Suas summo id sed , erat erant oporteat cu pri. In eum omnes <br>molestie.Sed ad debet scaaevol, ne mel lorem legends.</p>
<div  class="workout-img">
<div class="container" style="margin-bottom: 2%;" class="workout-gallery" >
    <div class="row justify-content-around">
      <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4" style="margin-bottom: 2%;">
        <img src="../assets/img-1.jpg" style="width: 100%;" >
       
      </div>
      <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4" style="margin-bottom: 2%;">
        <img src="../assets/img-2.jpg"  style="width: 100%;" >
      </div>
      <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4" style="margin-bottom: 2%;">
        <img src="../assets/img-3.jpg" style="width: 100%;" >
      </div>
    </div>
  </div>
  <div class="container" style="margin:4%;margin-bottom: 2%;"  class="workout-gallery">
    <div class="row justify-content-around">
      <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4" style="margin-bottom: 2%;">
        <img src="../assets/img-4.jpg" style="width: 100%;" >
      </div>
      <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4" style="margin-bottom: 2%;">
        <img src="../assets/img-5.jpg"  style="width: 100%;" >
      </div>
      <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4" style="margin-bottom: 2%;">
        <img src="../assets/img-6.jpg" style="width: 100%;" >
      </div>
    </div>
  </div>

  </div>
  <div style="text-align: center;margin-bottom: 3%;">
    <button type="button" class="btn btn-outline-warning" style="border-radius: 18px;background-color: #ffc107;
    color: white;">VIEW ALL</button>
  </div>

  <hr style="color: orange;
  opacity: 1;
  width: 4%;
  text-align: center;
  margin-left: 48%;
  margin-bottom: 1.5%;
  border: 2px solid orange;">

  <div >

    <p style="text-align: center;
    font-size: 18px;font-weight: bold;font-size: 1.75rem;">MERCHANDISE</p>
<p style="text-align: center; font-size: 1.15rem;">Usu habeo equidem sanctus no Suas summo id sed , erat erant oporteat cu pri. In eum omnes <br>molestie.Sed ad debet scaaevol, ne mel lorem legends.</p>

<div class="container" style="margin:6%;margin-bottom: 2%;" class="merchandise">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 2%;">
        <img src="../assets/product-1.jpg" style="width: 90%;" >
        <p style="text-align: center;margin-top:10px;" class="font-weight-bold">T shirt</p>
        <p style="text-align: center;margin-top:10px;color: orange;font-size: large;">	&#8364;20.00</p>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 2%;">
        <img src="../assets/product-2.jpg"  style="width: 90%;" >
        <p style="text-align: center;margin-top:10px;" class="font-weight-bold">Mugs</p>
        <p style="text-align: center;margin-top:10px;color: orange;font-size: large;">	&#8364;49.00</p>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 2%;">
        <img src="../assets/product-3.jpg" style="width: 90%;" >
        <p style="text-align: center;margin-top:10px;" class="font-weight-bold">Mouse Mates</p>
        <p style="text-align: center;margin-top:10px;color: orange;font-size: large;">	&#8364;35.00</p>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 2%;">
        <img src="../assets/product-4.jpg" style="width: 90%;" >
        <p style="text-align: center;margin-top:10px;" class="font-weight-bold">Nike Sports Water Bottle</p>
        <p style="text-align: center;margin-top:10px;color: orange;font-size: large;">	&#8364;45.00</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    

    <div class="row" style="background-color: black;">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mb-3">
            <img src="../assets/lg.png" style="width: 60%;background-color: black;margin:7%" >
            <p class="text-secondary mb-3">Lorem ipsum dolor sit amet , consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore margna aliqua</p>
            <ul class="list-unstyled">
              <li class="text-warning  text-nowrap m-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
              </svg> <span class="text-secondary"> 1-667-125-13227</span></li>
              <li class="text-warning  m-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
              </svg><span class="text-secondary"> 3rd Floor, Link Arcade Model Town, USA</span></li>
              <li class="text-warning text-nowrap m-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
              </svg><span class="text-secondary">  Support@cardiofitness.com</span></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <p style="color:white;margin-top: 7%; font-weight: bold" >USEFUL THINKS</p>
          <hr style="color:  rgb(182, 180, 175);
    opacity: 1;
    width: 20%;
    text-align: center;
    margin-left: 0%;
    border: 2px solid rgb(182, 180, 175);">
          <p  style="color:white;list-style-type:circle" class="text-secondary"> &#9676; Home</p>
          <p  style="color:white"  class="text-secondary"> &#9676; About us</p>
          <p  style="color:white"  class="text-secondary">&#9676; Personal Training</p>
          <p  style="color:white"  class="text-secondary"> &#9676; Classes</p>
          <p  style="color:white"  class="text-secondary"> &#9676; Merchandise</p>
         
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <p style="color:white;margin-top: 7%;font-weight: bold">DISCOVER</p>
          <hr style="color:  rgb(182, 180, 175);
    opacity: 1;
    width: 20%;
    text-align: center;
    margin-left: 0%;
    border: 2px solid rgb(182, 180, 175);">
          
          <p  style="color:white"  class="text-secondary"> &#9676; Contact us</p>
          <p  style="color:white"  class="text-secondary"> &#9676; Terms and condition</p>
          <p  style="color:white"  class="text-secondary">&#9676; Privacy</p>
          <p  style="color:white"  class="text-secondary"> &#9676; Cookie Policy</p>
          <p  style="color:white"  class="text-secondary"> &#9676; FAQ</p>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <p style="color:white;margin-top: 7%;font-weight: bold">CONNECT WITH US</p>
            <hr style="color:  rgb(182, 180, 175);
    opacity: 1;
    width: 20%;
    text-align: center;
    margin-left: 0%;
    border: 2px solid rgb(182, 180, 175);">
            <div class="mb-4 d-flex justify-content-around" style="width: 30%;">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-facebook text-secondary" viewBox="0 0 16 16">
                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-twitter text-secondary" viewBox="0 0 16 16">
                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15"/>
              </svg>
            </div>

            
            
          <p class="text-secondary" style="font-weight: bold;">NEWSLETTER</p>
          
          <div class="input-group w-75">
            <input type="Email" placeholder="Email" name="email" class="form-control" style="background-color: black;border:1px solid gray;color:grey">
            <button class="btn btn-warning" type="button" id="button-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
            </svg></button>
            
          </div>
         
        </div>
        <div class="hr-container my-3">
          <hr class="custom-hr">
      </div>      
        <div class="text-center text-secondary mb-3">
          &copy; Copyright Cardioboxfitness 2017. All rights reserved.
        </div>
      </div>
      
</div>


  </div>
</div>
